* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }

.alignment{
    display: flex;
    flex-direction: column;
    height: 120vh;
    position: relative;
    justify-content: center;
}

.textLeaderboard{
    text-align: center;
    color: #823B8A;
    font-weight: bold;
    margin-top: 20px;
    font-size: 2rem;
}

.textBest{
    margin-top: 10px;
    text-align: center;
    color: #823B8A;
    margin-bottom: 20px;
}

.textTODO{
    margin-top: 50px;
    margin-left: 10px;
    margin-bottom: 20px;
    color:black;
    font-weight: bold;
    text-align: left;
    font-size: 2.5rem;
}

@media only screen and (max-width: 1028px) {
    .alignment{
        height: 130vh;
    }
}

@media only screen and (max-width: 600px) {
    .alignment{
        height: 240vh;
    }
}
