* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }


.textLeaderboard{
    text-align: center;
    color: #823B8A;
    font-weight: bold;
    margin-top: 20px;
    font-size: 2rem;
}

.textBest{
    margin-top: 10px;
    text-align: center;
    color: #823B8A;
    margin-bottom: 20px;
}


