* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }

.alignment{
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    justify-content: center;
}

.textLeaderboard{
    text-align: center;
    color: #823B8A;
    font-weight: bold;
    margin-top: 20px;
    font-size: 2rem;
}

.textBest{
    margin-top: 10px;
    text-align: center;
    color: #823B8A;
    margin-bottom: 20px;
}



@media only screen and (max-width: 1028px) {
    .textBest{
        font-size: 18px;
    }

    .textTODO{
        font-size: 2.0rem;
    }
}

@media only screen and (max-width: 600px) {
    .textBest{
        font-size: 16px;
    }

    .textTODO{
        font-size: 1.5rem;
    }
}
