.login_col {
    margin-bottom: 150px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 300px;
    justify-content: space-evenly;
}

.forget_col {
    margin-bottom: 150px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 220px;
    justify-content: space-evenly;
}

.login_parent,
.forgot_password_parent {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
