.header-1 {
    position: absolute;
    width: 98px;
    height: 50px;
    left: calc(50% - 98px/2);
    top: 0px;

    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 100%;
    color: #000000;
}

.header-2 {
    position: absolute;
    left: calc(50% - 242px/2 + 9px);
    top: 150px;

    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20%;
    /* or 36px */
    color: #000000;
}

.first_last_name{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /* padding: 0px; */

    position: absolute;
    width: 632px;
    height: 62px;
    left: 18px;
    top: 49px;

}

.fisrt_name {
    position: absolute;
    width: 488px;
    height: 40px;
    left: calc(50% - 242px/2 + 300px);
    top: 130px;

    background: #FFFFFF;
    /* Gray / 30 */

    border: 1px;
    box-sizing: border-box;
    border-radius: 4px;
}

.Last_Name{
    position: absolute;
    width: 488px;
    height: 40px;
    left: calc(50% - 242px/2 + 300px);
    top: 200px;

    background: #FFFFFF;
    /* Gray / 30 */

    border: 1px;
    box-sizing: border-box;
    border-radius: 4px;
}

.email_input {
    position: absolute;
    width: 488px;
    height: 40px;
    left: calc(50% - 488px/2);
    top: 330px;

    background: #FFFFFF;
    /* Gray / 30 */

    border: 1px;
    box-sizing: border-box;
    border-radius: 4px;
}

.PSN_input {
    position: absolute;
    width: 488px;
    height: 40px;
    left: calc(50% - 488px/2);
    top: 400px;

    background: #FFFFFF;
    /* Gray / 30 */

    border: 1px;
    box-sizing: border-box;
    border-radius: 4px;
}

.change_pass_button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: absolute;
    width: 462px;
    height: 42px;
    left: calc(50% - 488px/2);
    top: 500px;

    background: #009CC4;
    /* Shadow Dark / 4dp */

    box-shadow: 0px 2px 4px rgba(58, 58, 68, 0.2), 0px 4px 8px rgba(90, 91, 106, 0.2);
    border-radius: 4px;
}
