.main {
    position: absolute;
    width: 243px;
    height: 40px;

    font-family: ?????;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 150%;
    /* or 45px */


    color: #000000;
}