@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');

.alignment{
    display: flex;
    flex-direction: column;
    height: 70vh;
    position: relative;
    align-items: center;
    justify-content: center;
}

.header {
    width: 488px;
    height: 28px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 150%;
    color: #000000;
}

.enterEmail {
    width: 488px;
    height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.018em;
    color: #000000;
}

.input {
    width: 100%;
    padding: 10px 10px;
    height: 100%;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    background-color: rgb(245, 245, 245);
}

.emailInput {
    /* display: flex; */
    width: 488px;
}

.confirmEmail {
    width: 488px;
    height: 20px;
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.018em;
    color: #000000;
}

.confirmEmailInput {
    /* display: flex; */
    width: 488px;
}

.chooseTypeAccount {
    width: 488px;
    height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.018em;
    color: #000000;
}

.chooseTypeAccountDropdown {
    /* display: flex; */
    width: 488px;
}

.choosePassword {
    width: 488px;
    height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.018em;
    color: #000000;
}

.password {
    /* display: flex; */
    width: 488px;
}

.submitButton {
    width: 488px;
}

.backToHomePage {
    width: 488px;
}