@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');

.header{
    position: absolute;
    width: 287px;
    height: 28px;
    left: calc(50% - 488px/2);
    top: 200px;

    /* Inter/H5 */

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 10px;
    /* or 36px */

    color: #000000;
}

.input {
    width: 95%;
    padding: 10px 10px;
    height: 42px;
    font-size: 15px;
    border-color: #ffffff;
    border-radius: 5px;
    background-color: rgb(245, 245, 245);
}

.emailInput{
    position: absolute;
    width: 488px;
    height: 40px;
    left: calc(50% - 488px/2);
    top:250px;
    background: #FFFFFF;

    border: 1px;
    box-sizing: border-box;
    border-radius: 4px;
}

.currPassInput{
    position: absolute;
    width: 488px;
    height: 40px;
    left: calc(50% - 488px/2);
    top:300px;

    background: #FFFFFF;
    /* Gray / 30 */

    border: 1px;
    box-sizing: border-box;
    border-radius: 4px;
}

.newPassInput{
    position: absolute;
    width: 488px;
    height: 40px;
    left: calc(50% - 488px/2);
    top:350px;

    background: #FFFFFF;
    /* Gray / 30 */

    border: 1px;
    box-sizing: border-box;
    border-radius: 4px;
}

.confirmPassInput{
    position: absolute;
    width: 488px;
    height: 40px;
    left: calc(50% - 488px/2);
    top: 400px;

    background: #FFFFFF;
    /* Gray / 30 */

    border: 1px;
    box-sizing: border-box;
    border-radius: 4px;
}

.submit{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: absolute;
    width: 462px;
    height: 42px;
    left: calc(50% - 488px/2);
    top: 450px;

    background: #009CC4;
    /* Shadow Dark / 4dp */

    box-shadow: 0px 2px 4px rgba(58, 58, 68, 0.2), 0px 4px 8px rgba(90, 91, 106, 0.2);
    border-radius: 4px;
}

.profPage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: absolute;
    width: 462px;
    height: 42px;
    left: calc(50% - 488px/2);
    top: 500px;

    background: #009CC4;
    /* Shadow Dark / 4dp */

    box-shadow: 0px 2px 4px rgba(58, 58, 68, 0.2), 0px 4px 8px rgba(90, 91, 106, 0.2);
    border-radius: 4px;
}

.logo {
    width: 328px;
    height: 184px;
    left: 35px;
    top: 0px;
}