.alignment-change {
    margin-bottom: 150px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 320px;
    justify-content: space-evenly;
}