@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 1px;
  padding: 1px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.alignment{
  display: flex;
  flex-direction: column;
  height: 60vh;
  position: relative;
  align-items: center;
  justify-content: center;
}

.header_1 {
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 100%;
  color: #000000;
  margin: 0 0 10px 0;
}

.input {
  width: 100%;
  padding: 10px 10px;
  height: 100%;
  font-size: 15px;
  /*border-color: #ffffff;*/
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  background-color: rgb(245, 245, 245);
}

.emailInput{
  width: 488px;
  height: 40px;
  background: #FFFFFF;
  margin: 20px 0 40px 0;
  border: 1px;
  box-sizing: border-box;
  border-radius: 4px;
}

.passwordInput{
  width: 488px;
  height: 40px;
  background: #FFFFFF;
  margin: 0 0 40px 0;
  border: 1px;
  box-sizing: border-box;
  border-radius: 4px;
}

.loginButton{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 488px;
  height: 42px;

  background: #009CC4;
  /* Shadow Dark / 4dp */


  border-radius: 4px;
}

.loginButton >button{
  width: 100%;
  height: 100%;
  box-shadow: 0 2px 4px rgba(58, 58, 68, 0.2), 0 4px 8px rgba(90, 91, 106, 0.2);
}

.logoHHA{
  height: 95px;
  width: auto;
  object-fit: contain;
  margin: 20px 20px;
}

.link{
  width: 488px;
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: left;
}

.plainText{
  color: rgb(86, 86, 90);
  font-size: 18px;
}

@media only screen and (max-width: 1028px) {
  .header_1 {
    font-size: 24px;
  }

  .emailInput{
    width: 388px;
  }

  .passwordInput{
    width: 388px;
  }

  .loginButton{
    width: 388px;
  }

  .link{
    width: 388px;
  }

  .plainText{
    font-size: 15px;
  }
}

@media only screen and (max-width: 600px) {
  .header_1 {
    font-size: 20px;
  }

  .emailInput{
    width: 300px;
  }

  .passwordInput{
    width: 300px;
  }

  .loginButton{
    width: 300px;
  }

  .link{
    width: 300px;
  }

  .plainText{
    font-size: 13px;
  }
}